.button,
.input,
.select select,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
  position: relative;
  vertical-align: top;
}
.textarea:focus {
  outline: 0;
}
body,
h1,
h2,
h3,
hr,
html,
li,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-size: 100%;
  font-weight: 400;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
section {
  display: block;
}
body,
button,
input,
select,
textarea {
  font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif;
}
body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}
a {
  color: #2980b9;
  text-decoration: none;
}
hr {
  background-color: #ccc;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem auto;
}
input[type="checkbox"] {
  vertical-align: baseline;
}
span {
  font-style: inherit;
  font-weight: inherit;
}
strong {
  color: inherit;
  font-weight: 700;
}
.has-text-centered {
  text-align: center !important;
}
@media print, screen and (min-width: 769px) {
  .has-text-centered-tablet {
    text-align: center !important;
  }
}
@media screen and (min-width: 1024px) {
  .has-text-centered-desktop {
    text-align: center !important;
  }
}
.is-hidden {
  display: none !important;
}
.is-sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}
@media screen and (max-width: 1023px) {
  .is-hidden-touch {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .is-hidden-desktop {
    display: none !important;
  }
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: inherit;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
}
.button .icon {
  height: 1.5em;
  width: 1.5em;
}
.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.5em - 1px);
  margin-right: 0.25em;
}
.button .icon:first-child:last-child {
  margin-left: calc(-0.5em - 1px);
  margin-right: calc(-0.5em - 1px);
}
.button.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #4a4a4a;
  text-decoration: underline;
}
.button.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: #eee;
}
.button.is-action {
  background-color: #3498db;
  border-color: transparent;
  color: #fff;
}
.button.is-support {
  background-color: #f1c40f;
  border-color: transparent;
  color: #555;
}
.button.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}
.button.is-medium {
  font-size: 1.25rem;
}
.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.buttons .button {
  margin-bottom: 0.5rem;
}
.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 0.5rem;
}
.buttons:last-child {
  margin-bottom: -0.5rem;
}
.buttons:not(:last-child) {
  margin-bottom: 1rem;
}
.buttons.has-addons .button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.buttons.has-addons .button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}
.buttons.has-addons .button:last-child {
  margin-right: 0;
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}
.content p:not(:last-child) {
  margin-bottom: 1em;
}
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.icon.is-large {
  height: 3rem;
  width: 3rem;
}
.notification {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}
.notification .title {
  color: currentColor;
}
.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.progress::-webkit-progress-bar {
  background-color: #ededed;
}
.progress::-webkit-progress-value {
  background-color: #3498db;
}
.progress::-moz-progress-bar {
  background-color: #3498db;
}
.progress::-ms-fill {
  background-color: #3498db;
  border: none;
}
.title {
  word-break: break-word;
}
.title span {
  font-weight: inherit;
}
.title {
  color: inherit;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.125;
}
.input,
.select select,
.textarea {
  background-color: #fff;
  border-color: transparent;
  border-radius: 4px;
  color: #4a4a4a;
}
.input::-moz-placeholder,
.select select::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #aaa;
}
.input::-webkit-input-placeholder,
.select select::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #aaa;
}
.input:-moz-placeholder,
.select select:-moz-placeholder,
.textarea:-moz-placeholder {
  color: #aaa;
}
.input:-ms-input-placeholder,
.select select:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #aaa;
}
.textarea:focus {
  border-color: transparent;
  box-shadow: 0 transparent;
}
.input,
.textarea {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}
.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical;
}
.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}
.textarea[rows] {
  height: auto;
}
.checkbox {
  display: inline-block;
  line-height: 1.25;
  position: relative;
}
.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}
.select:not(.is-multiple) {
  height: 2.5em;
}
.select:not(.is-multiple):not(.is-loading):after {
  border-color: #2980b9;
  right: 1.125em;
  z-index: 4;
}
.select select {
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
}
.select select::-ms-expand {
  display: none;
}
.select select:not([multiple]) {
  padding-right: 2.5em;
}
.select.is-fullwidth,
.select.is-fullwidth select {
  width: 100%;
}
.label {
  color: inherit;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.label:not(:last-child) {
  margin-bottom: 0.5em;
}
.field:not(:last-child) {
  margin-bottom: 0.75rem;
}
.field.is-grouped {
  display: flex;
  justify-content: flex-start;
}
.field.is-grouped > .control {
  flex-shrink: 0;
}
.field.is-grouped > .control:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.75rem;
}
.field.is-grouped.is-grouped-centered {
  justify-content: center;
}
.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
}
.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}
.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}
.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}
@media print, screen and (min-width: 769px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}
.navbar {
  background-color: #f8f8f8;
  min-height: 3.125rem;
  position: relative;
  z-index: 30;
}
.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.125rem;
  width: 100%;
}
.navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  top: 0;
}
.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.125rem;
}
.navbar-burger {
  color: #4a4a4a;
  display: block;
  height: 3.125rem;
  position: relative;
  width: 3.125rem;
  margin-left: auto;
}
.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  width: 16px;
}
.navbar-burger span:first-child {
  top: calc(50% - 6px);
}
.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}
.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}
.navbar-menu {
  display: none;
}
.navbar-item,
.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}
.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar-item.has-dropdown {
  padding: 0;
}
.navbar-dropdown {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.navbar-divider {
  background-color: #fafafa;
  border: none;
  display: none;
  height: 2px;
  margin: 0.5rem 0;
}
@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block;
  }
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar-link:after {
    display: none;
  }
  .navbar-menu {
    background-color: #f8f8f8;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }
  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.125rem);
    overflow: auto;
  }
}
@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-end,
  .navbar-menu,
  .navbar-start {
    align-items: stretch;
    display: flex;
  }
  .navbar {
    min-height: 3.125rem;
  }
  .navbar.is-spaced {
    padding: 0.625rem 1.5rem;
  }
  .navbar.is-spaced .navbar-end,
  .navbar.is-spaced .navbar-start {
    align-items: center;
  }
  .navbar.is-spaced .navbar-link,
  .navbar.is-spaced a.navbar-item {
    border-radius: 4px;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }
  .navbar-item {
    display: flex;
  }
  .navbar-item.has-dropdown {
    align-items: stretch;
  }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }
  .navbar-dropdown .navbar-item {
    padding: 0.375rem 1rem;
    white-space: nowrap;
  }
  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }
  .navbar-dropdown.is-boxed,
  .navbar.is-spaced .navbar-dropdown {
    border-radius: 6px;
    border-top: none;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    opacity: 0;
    top: calc(100% + -4px);
    transform: translateY(-5px);
  }
  .navbar-divider {
    display: block;
  }
  .navbar > .container .navbar-brand {
    margin-left: -0.75rem;
  }
  .navbar > .container .navbar-menu {
    margin-right: -0.75rem;
  }
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
}
.columns.is-mobile > .column.is-narrow {
  flex: none;
}
.columns.is-mobile > .column.is-12 {
  flex: none;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .column.is-12-mobile {
    flex: none;
    width: 100%;
  }
}
@media print, screen and (min-width: 769px) {
  .column.is-narrow {
    flex: none;
  }
  .column.is-10-tablet {
    flex: none;
    width: 83.33333%;
  }
  .column.is-12 {
    flex: none;
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .column.is-12-touch {
    flex: none;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .column.is-2-desktop {
    flex: none;
    width: 16.66667%;
  }
  .column.is-8-desktop {
    flex: none;
    width: 66.66667%;
  }
}
@media screen and (min-width: 1216px) {
  .column.is-6-widescreen {
    flex: none;
    width: 50%;
  }
}
.columns {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}
.columns:last-child {
  margin-bottom: -1rem;
}
.columns:not(:last-child) {
  margin-bottom: 0.5rem;
}
.columns.is-centered {
  justify-content: center;
}
.columns.is-mobile {
  display: flex;
}
.columns.is-multiline {
  flex-wrap: wrap;
}
.columns.is-vcentered {
  align-items: center;
}
@media print, screen and (min-width: 769px) {
  .columns:not(.is-desktop) {
    display: flex;
  }
}
.section {
  padding: 1.5rem 1.5rem 1.5rem;
}
.CodeMirror {
  font-family: monospace;
  height: 300px;
  color: #000;
  direction: ltr;
}
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: #fff;
}
:root {
  --balloon-color: #333;
  --balloon-font-size: 12px;
  --balloon-move: 0px;
}
button[aria-label][data-balloon-pos] {
  overflow: visible;
}
[aria-label][data-balloon-pos] {
  position: relative;
}
[aria-label][data-balloon-pos]:after {
  opacity: 0;
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: none;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  border-radius: 2px;
  color: #fff;
  content: attr(aria-label);
  padding: 0.5em 1em;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}
[aria-label][data-balloon-pos]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid var(--balloon-color);
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 10;
}
[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]:after {
  left: 50%;
  margin-top: 10px;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid var(--balloon-color);
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
  margin-right: 10px;
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid var(--balloon-color);
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}
[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: normal;
  width: 260px;
}
.buttons.is-vertical {
  flex-direction: column;
  align-items: flex-start;
}
.buttons.is-vertical .button {
  margin-bottom: 0;
}
.buttons.is-vertical:last-child {
  margin-bottom: 0;
}
.buttons.has-addons.is-vertical .button:last-child {
  margin-bottom: 0;
}
.buttons.has-addons.is-vertical .button:not(:last-child) {
  margin-right: 0;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
}
.buttons.has-addons.is-vertical .button:not(:last-child).is-small {
  border-top-right-radius: 2px;
}
.buttons.has-addons.is-vertical .button:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.buttons.has-addons.is-vertical .button:not(:first-child).is-small {
  border-bottom-left-radius: 2px;
}
.button {
  font-weight: 700;
}
.button.is-small {
  font-size: 0.875rem;
}
.button.is-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #4a4a4a;
  font-weight: inherit;
}
.button.is-text {
  height: auto;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: #2980b9;
  text-decoration: none;
  vertical-align: inherit;
  border-width: 0;
}
.button.is-support .icon {
  color: #e74c3c;
}
#input .buttons.is-vertical {
  position: absolute;
  bottom: 3px;
  right: 20px;
}
#input .buttons.is-vertical .button {
  color: #2980b9;
}
[aria-label][data-balloon-pos]:after {
  font-family: inherit;
  font-weight: 300;
  font-size: 0.875rem;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  background-color: #333;
  color: #eee;
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  border-bottom-color: #333;
}
[aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
  border-top-color: #333;
}
[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  border-left-color: #333;
}
.navbar {
  border-bottom: 1px solid #e7e7e7;
}
.navbar-divider {
  max-width: none;
}
h1.navbar-item {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1023px) {
  .navbar.is-fixed-top .navbar-menu {
    box-shadow: none;
  }
}
.navbar-burger span {
  height: 0.05em;
}
.navbar > .container {
  max-width: 1140px;
}
.section.is-primary {
  color: #fff;
}
.section:first-of-type {
  padding-top: 6.75rem;
}
@media screen and (min-width: 1024px) {
  .section:first-of-type {
    padding-top: 5.575rem;
  }
}
.section#input p {
  font-size: 1.125rem;
}
.hint {
  font-size: 1.125em;
}
.hint .icon {
  height: 5em;
  width: 5em;
}
.hint .icon > * {
  font-size: 5em;
}
#input textarea {
  resize: vertical;
  height: 316px;
  min-height: 316px;
  overflow-y: scroll;
}
#input .hint .button {
  color: inherit;
}
#input .hint .button:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 1px dotted #fff;
  left: 0;
  bottom: 1px;
  right: 0;
}
.button[name="view-fix-info"] {
  color: hsla(0, 0%, 100%, 0.5);
  width: 1.375rem;
  position: relative;
  top: 1px;
}
.button[name="view-fix-info"] .icon {
  font-size: 0.85rem;
  margin-top: 0.125rem;
}
#input .options .field.is-grouped {
  justify-content: center;
}
#input .options .field.is-grouped > .control:not(:last-child) {
  margin-right: 0.25rem;
}
@media screen and (min-width: 1024px) {
  #input .columns:last-child .column:last-child {
    padding-top: 0;
  }
}
#input .container {
  max-width: 1140px;
}
#input .buttons.is-vertical [aria-label][data-balloon-pos]:before {
  margin-right: -5px;
}
#input .buttons.is-vertical [aria-label][data-balloon-pos]:after {
  margin-right: 5px;
}
#input .options {
  padding-top: 0;
}
@media screen and (min-width: 1024px) {
  #input .options {
    padding-top: 1rem;
  }
}
#input .control .dropzone,
#input .control .loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: hsla(0, 0%, 99.6%, 0.9);
  border-radius: 4px;
  flex-direction: column;
  display: none;
  font-size: 1.125rem;
}
#input .control .dropzone .icon,
#input .control .loading .icon {
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}
#input .control .dropzone .icon svg,
#input .control .loading .icon svg {
  font-size: 5rem;
}
#input .control .loading .progress {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  height: 6px;
  background-color: transparent;
  margin-bottom: 0;
}
#input .control .dropzone,
#input .control .loading {
  color: #4a4a4a;
}
#input .control .loading .icon {
  color: #3498db;
}
.section.results {
  background-color: #222;
  padding: 0;
}
.result .buttons .button {
  margin-bottom: 0;
}
.button[name="view-result-error"] {
  color: #2980b9 !important;
}
.button[name="rename-result"] {
  color: #ccc !important;
}
.button[name="rename-result"]:after {
  content: "";
  position: absolute;
  height: 1px;
  display: block;
  border-bottom: 1px dotted #666;
  left: 0;
  bottom: 3px;
  right: 0;
}
.button[name="collapse-node"] {
  padding: 0 0.75rem !important;
  color: #2980b9 !important;
  vertical-align: -0.15em;
}
.button[name="collapse-node"] .icon {
  height: 1em;
  width: 1em;
}
.button[name="collapse-all-nodes"] .icon svg:last-child,
.button[name="collapse-node"] .icon svg:last-child,
.button[name="collapse-result"] .icon svg:last-child,
.button[name="fullscreen-result"] .icon svg:last-child {
  display: none;
}
.results .media {
  padding: 1.25rem 0;
  border-bottom: 1px solid #111;
}
.results .result {
  padding: 20px;
}
.results .messages {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: calc(0.75em - 1px);
  max-height: 10em;
  overflow-x: auto;
  overflow-y: scroll;
}
.results .messages .message {
  white-space: nowrap;
}
.results .messages .message .icon {
  color: #2980b9;
}
.results .messages .message strong {
  width: 5.6em;
  display: inline-block;
}
.results .messages .message em {
  font-size: 0.8em;
  color: #999;
}
.results .messages .message.is-error .icon {
  color: #c0392b;
}
.results .messages .message.is-warning .icon {
  color: #f1c40f;
}
.result .dataholder {
  position: relative;
}
.result .validation {
  color: #fff;
  font-weight: 900;
  background-color: #c0392b;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.result .validation.is-valid {
  background-color: #27ae60;
}
.result .description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.result .description input {
  display: none;
  padding: 0 5px;
  height: calc(1.75rem - 4px);
  border-width: 0;
}
.result h3 {
  font-size: 3em;
  font-weight: 900;
  line-height: 1;
  color: #fff;
}
.result .url {
  color: #999;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result .buttons {
  justify-self: right;
  align-self: center;
  margin-bottom: 0;
}
.result .bottom {
  margin-top: 1rem;
}
.result .dataholder .buttons {
  position: absolute;
  bottom: 10px;
  right: 29px;
  z-index: 10;
}
.results .label {
  color: #fff;
}
.section.results .result .container {
  max-width: 944px;
}
.section.results .result .container .columns {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -0.5rem -0.5rem 0;
}
@media print, screen and (min-width: 769px) {
  .section.results .result .container .columns {
    flex-wrap: nowrap;
  }
}
.section.results .result .container .columns .column {
  padding: 0.5rem 0.5rem 0;
}
.section.results .result .container .columns .column:nth-child(2) {
  order: 10;
}
@media print, screen and (min-width: 769px) {
  .section.results .result .container .columns .column:nth-child(2) {
    order: 0;
    overflow: hidden;
  }
}
.CodeMirror {
  min-height: 10rem;
  height: 20rem;
}
#contact .field:nth-child(3) {
  display: none;
}
body > div {
  padding: 0 !important;
}
.notification {
  margin-bottom: 0 !important;
  width: 100% !important;
  justify-content: center;
  text-align: center;
  border-radius: 0;
}
@media screen and (min-width: 1024px) {
  .notification {
    width: auto !important;
    margin: 0 1em 1em !important;
    border-radius: 4px;
  }
}
.media {
  display: none;
}
@media print, screen and (min-width: 769px) {
  .media {
    display: block;
  }
}
.partner {
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .partner {
    min-height: 90px;
  }
}
.blocker {
  display: none;
}
.blocker p {
  margin: 0 15px 15px;
  color: #ccc;
}
.blocker .button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.blocker .button[name="tweet"] .icon {
  color: #1da1f2;
}
.blocker .button[name="facebook"] .icon {
  color: #4267b2;
}
body {
  background-color: #fafafa;
}
.input,
.select select,
.select select option,
.textarea {
  font-weight: 300;
}
.textarea.is-code {
  font-family: Roboto Mono, Consolas, Courier New, monospace;
  font-size: 0.9rem;
  line-height: 1.45;
  text-shadow: 0.015em 0.015em 0 #666;
  color: #666;
  padding: calc(0.75rem - 1px);
}
.textarea:not([rows]) {
  max-height: none;
}
.control {
  display: flex;
}
hr {
  max-width: 120px;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.content p {
  font-size: 1.125em;
  line-height: 1.65;
}
.columns:not(:last-child) {
  margin-bottom: 1.5rem;
}
.label:not(:last-child) {
  margin-bottom: 0.25rem;
}
.field:not(:last-child) {
  margin-bottom: 1rem;
}
.icon {
  vertical-align: -0.125em;
}
.icon svg {
  height: 1em;
  width: auto;
  shape-rendering: geometricprecision;
  transform: scale(1.05);
}
#input .checkbox input#jsonfix {
  left: -3000px;
  position: absolute;
}
#input .checkbox input#jsonfix + .icon {
  margin-left: 0.25rem;
  top: 2px;
  position: relative;
}
#input .checkbox input#jsonfix + .icon svg:first-child {
  font-size: 1.3333em;
}
#input .checkbox input#jsonfix + .icon svg:last-child {
  position: absolute;
  color: #2980b9;
  font-size: 0.85rem;
  width: 1em;
  top: 0.3677em;
  left: 0.3677em;
}
#input .checkbox input#jsonfix + .icon:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border-radius: 3px;
}
#input .checkbox input#jsonfix:checked + .icon:after {
  left: 100%;
}
@media screen and (min-width: 1024px) {
  #input .button[name="view-fix-info"][aria-label][data-balloon-pos]:after {
    left: auto;
    right: 0;
    transform: translate(0);
  }
  #input .button[name="view-fix-info"][aria-label][data-balloon-pos]:before {
    left: auto;
    right: 5px;
    transform: translate(0);
  }
}
