<mat-toolbar color="seagreen">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <a mat-button href="/">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-button href="/">
    <mat-icon>list</mat-icon> List
  </a>
  <a mat-button href="/">
    <mat-icon>add</mat-icon> Add New
  </a>
  <span class="toolbar-spacer"></span>
  <a mat-button href="/">
    <mat-icon>search</mat-icon>Search FDs
  </a>
  <a mat-button href="/">
    <mat-icon>person</mat-icon>Log In
  </a>
</mat-toolbar>